body {
        background-position: center center;
        border: thin solid #000000;
        height: 300px;
        width: 600px;
        position: absolute;
        left: 10%;
        top: 10%;
        margin-top: -150px;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: -300px;
    }

html{
    width:auto;
    height: auto;
    background: #1e1e1e;
        }
/*body{
/*    width: auto;
/*    height: auto;
/*}