/*html {
  background-image: url(bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img.background {
  min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}*/
  /* Зависит от размера изображения */
  @media screen and (max-width: 1200px){
	img.bg {
	  left: 50%;
	  margin-left: -320px;
	}
  }


/* внешние границы таблицы серого цвета толщиной 1px */
table {
   border: 1px solid grey;
}
/* границы ячеек первого ряда таблицы */
th {
   border: 1px solid grey;
}
/* границы ячеек тела таблицы */
td {
   border: 1px solid grey;
}
/* сделает ширину таблицы равной ширине блока контейнера, в котором она находится */
table {
   width: 100%;
}
/* задаст фиксированную ширину для таблицы */
table {
   width: 600px;
}

.one{
    position: relative; /* Относительное позиционирование */
    left: 150px; /* Сдвигаем вниз */
    bottom: 100px;

}

.icon{
    width:auto;
    border-radius: 20px;
    cursor: help;
}
html{
    width:auto;
    background: #1e1e1e;
        }
table{
    background: #d7d5d5;
    width: auto;
    height: auto;
}
body{
    width: auto;
    height: auto;
}

.menuone{
{
   display: none;
}
.main-item:focus ~ .sub-menu,
.main-item:active ~ .sub-menu,
.sub-menu:hover
{
   display: block;
}
    z-index:99999999;
    border:1px solid;

    margin:auto;
    position: fixed;
    top: 10px;

    background: rgba(68, 68, 68, 0.5);
}
button{

        border-radius: 20px;
    }
.button1{
    width: auto;
    z-index:99999999;
    position: fixed;
    top: 40px;
    left: 100px;
}
.button2{
    width: auto;
    z-index:99999999;
    position: fixed;
    top: 40px;
    left: 250px;
}
.button3{
    width: auto;
    height: 10px;
    z-index:99999999;
    position: fixed;
    top: 40px;
    left: 450px;
}
.h11{

    top: 170px;
    left: 350px;
}
.novosti{
    border-radius: 10px;
    position: relative;
    top: 200px;
    left: 40px;
    width: 70%;
    height: auto;



    border:1px solid;

    margin:auto;

    background: #3d4c60;



}
.h111{
    color: rgba(55, 47, 66, 0.83);
}
.hrmenu{
    color: rgba(67, 55, 82, 0.83);

 }
